/*
For Quasar import this file from app.scss with
@import './elevation.css';
*/

.elevation_0 {
  -webkit-box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px;
}

.elevation_1 {
  -webkit-box-shadow: 0px 2px 1px -1px, 0px 1px 1px 0px, 0px 1px 3px 0px;
  box-shadow: 0px 2px 1px -1px, 0px 1px 1px 0px, 0px 1px 3px 0px;
}

.elevation_2 {
  -webkit-box-shadow: 0px 3px 1px -2px, 0px 2px 2px 0px, 0px 1px 5px 0px;
  box-shadow: 0px 3px 1px -2px, 0px 2px 2px 0px, 0px 1px 5px 0px;
}

.elevation_3 {
  -webkit-box-shadow: 0px 3px 3px -2px, 0px 3px 4px 0px, 0px 1px 8px 0px;
  box-shadow: 0px 3px 3px -2px, 0px 3px 4px 0px, 0px 1px 8px 0px;
}

.elevation_4 {
  -webkit-box-shadow: 0px 2px 4px -1px, 0px 4px 5px 0px, 0px 1px 10px 0px;
  box-shadow: 0px 2px 4px -1px, 0px 4px 5px 0px, 0px 1px 10px 0px;
}

.elevation_5 {
  -webkit-box-shadow: 0px 3px 5px -1px, 0px 5px 8px 0px, 0px 1px 14px 0px;
  box-shadow: 0px 3px 5px -1px, 0px 5px 8px 0px, 0px 1px 14px 0px;
}

.elevation_6 {
  -webkit-box-shadow: 0px 3px 5px -1px, 0px 6px 10px 0px, 0px 1px 18px 0px;
  box-shadow: 0px 3px 5px -1px, 0px 6px 10px 0px, 0px 1px 18px 0px;
}

.elevation_7 {
  -webkit-box-shadow: 0px 4px 5px -2px, 0px 7px 10px 1px, 0px 2px 16px 1px;
  box-shadow: 0px 4px 5px -2px, 0px 7px 10px 1px, 0px 2px 16px 1px;
}

.elevation_8 {
  -webkit-box-shadow: 0px 5px 5px -3px, 0px 8px 10px 1px, 0px 3px 14px 2px;
  box-shadow: 0px 5px 5px -3px, 0px 8px 10px 1px, 0px 3px 14px 2px;
}

.elevation_9 {
  -webkit-box-shadow: 0px 5px 6px -3px, 0px 9px 12px 1px, 0px 3px 16px 2px;
  box-shadow: 0px 5px 6px -3px, 0px 9px 12px 1px, 0px 3px 16px 2px;
}

.elevation_10 {
  -webkit-box-shadow: 0px 6px 6px -3px, 0px 10px 14px 1px, 0px 4px 18px 3px;
  box-shadow: 0px 6px 6px -3px, 0px 10px 14px 1px, 0px 4px 18px 3px;
}

.elevation_11 {
  -webkit-box-shadow: 0px 6px 7px -4px, 0px 11px 15px 1px, 0px 4px 20px 3px;
  box-shadow: 0px 6px 7px -4px, 0px 11px 15px 1px, 0px 4px 20px 3px;
}

.elevation_12 {
  -webkit-box-shadow: 0px 7px 8px -4px, 0px 12px 17px 2px, 0px 5px 22px 4px;
  box-shadow: 0px 7px 8px -4px, 0px 12px 17px 2px, 0px 5px 22px 4px;
}

.elevation_13 {
  -webkit-box-shadow: 0px 7px 8px -4px, 0px 13px 19px 2px, 0px 5px 24px 4px;
  box-shadow: 0px 7px 8px -4px, 0px 13px 19px 2px, 0px 5px 24px 4px;
}

.elevation_14 {
  -webkit-box-shadow: 0px 7px 9px -4px, 0px 14px 21px 2px, 0px 5px 26px 4px;
  box-shadow: 0px 7px 9px -4px, 0px 14px 21px 2px, 0px 5px 26px 4px;
}

.elevation_15 {
  -webkit-box-shadow: 0px 8px 9px -5px, 0px 15px 22px 2px, 0px 6px 28px 5px;
  box-shadow: 0px 8px 9px -5px, 0px 15px 22px 2px, 0px 6px 28px 5px;
}

.elevation_16 {
  -webkit-box-shadow: 0px 8px 10px -5px, 0px 16px 24px 2px, 0px 6px 30px 5px;
  box-shadow: 0px 8px 10px -5px, 0px 16px 24px 2px, 0px 6px 30px 5px;
}

.elevation_17 {
  -webkit-box-shadow: 0px 8px 11px -5px, 0px 17px 26px 2px, 0px 6px 32px 5px;
  box-shadow: 0px 8px 11px -5px, 0px 17px 26px 2px, 0px 6px 32px 5px;
}

.elevation_18 {
  -webkit-box-shadow: 0px 9px 11px -5px, 0px 18px 28px 2px, 0px 7px 34px 6px;
  box-shadow: 0px 9px 11px -5px, 0px 18px 28px 2px, 0px 7px 34px 6px;
}

.elevation_19 {
  -webkit-box-shadow: 0px 9px 12px -6px, 0px 19px 29px 2px, 0px 7px 36px 6px;
  box-shadow: 0px 9px 12px -6px, 0px 19px 29px 2px, 0px 7px 36px 6px;
}

.elevation_20 {
  -webkit-box-shadow: 0px 10px 13px -6px, 0px 20px 31px 3px, 0px 8px 38px 7px;
  box-shadow: 0px 10px 13px -6px, 0px 20px 31px 3px, 0px 8px 38px 7px;
}

.elevation_21 {
  -webkit-box-shadow: 0px 10px 13px -6px, 0px 21px 33px 3px, 0px 8px 40px 7px;
  box-shadow: 0px 10px 13px -6px, 0px 21px 33px 3px, 0px 8px 40px 7px;
}

.elevation_22 {
  -webkit-box-shadow: 0px 10px 14px -6px, 0px 22px 35px 3px, 0px 8px 42px 7px;
  box-shadow: 0px 10px 14px -6px, 0px 22px 35px 3px, 0px 8px 42px 7px;
}

.elevation_23 {
  -webkit-box-shadow: 0px 11px 14px -7px, 0px 23px 36px 3px, 0px 9px 44px 8px;
  box-shadow: 0px 11px 14px -7px, 0px 23px 36px 3px, 0px 9px 44px 8px;
}

.elevation_24 {
  -webkit-box-shadow: 0px 11px 15px -7px, 0px 24px 38px 3px, 0px 9px 46px 8px;
  box-shadow: 0px 11px 15px -7px, 0px 24px 38px 3px, 0px 9px 46px 8px;
}
